.page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
}

.path {
  stroke-dasharray: 6266;
  stroke-dashoffset: 0;
  animation: dash 5s infinite;
  transform-origin: 50% 50%;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 0;
    transform: rotate(0deg);
  }
  50% {
    stroke-dashoffset: 6266;
    transform: rotate(360deg);
  }
  100% {
    stroke-dashoffset: 0;
    transform: rotate(0deg);
  }
}
